body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0% 0% 5% 5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: red;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: larger;
    width: 100px;
    text-align: center;
    padding: 10px;

}

a:hover {
    color: black;
    border-bottom: solid 3px black;
}

.logo {
    width: 200px;
    height: 150px;
}

.nav_logo {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: center;
}

.standings-title {
    text-align: center;
    font-size: 45px;
}

.constructors-title {
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

.constructors-standings {
    padding: 25px;
}

table {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
}

tr th {
    text-align: left;
    padding: 25px 0px 25px 25px;
    gap: 10px;
    font-size: 25px;
}

tr.table_highlight {
    background-color: lightgray;
}

td {
    text-align: left;
    padding: 25px 0px 25px 25px;
    font-size: 20px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: black;
    color: white;
    padding: 15px;
}

@media (max-width: 768px) {

    nav {
        display: block;
    }

    .navbar {
        gap: 0px;
    }

    .news_card {
        text-align: center;
    }

    td {
        text-align: left;
        padding: 16px 0px 16px 16px;
        font-size: small;
    }

    tr th {
        padding: 16px 0px 16px 16px;
        font-size: small;
    }

    .nav_logo {
        justify-content: center;
    }

    .drivers-standings {
        padding: 20px;
    }

    .constructors-standings {
        padding: 10px;
    }

    .standings-title {
        text-align: center;
        font-size: 45px;
    }
}