body {
    margin: 0;
    font-family: "Racing Sans One", sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: red;
}

.navbar {
    display: flex;
    gap: 50px;
    align-items: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: larger;
    width: 100px;
    text-align: center;
}

a:hover {
    color: black;
}

.logo {
    height: 50px;
}

.nav_logo{
    display: flex;
    gap: 10px;
    flex-direction:row-reverse;
    align-items: center;
}

.news-title {
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

.standings-title {
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

.constructors-title {
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

.section_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

.news_date {
    text-align: center;
    color: red;
}

.image_news {
    display: flex;
    justify-content: center;
}

.news_card_title {
    text-align: center;
}

div.nav_logo p {
    color: white;
    font-size: 30px;
}

img {
    width: 35vh;
    height: 35vh;
    object-fit: cover; 
    border-radius: 5%;
}

table{
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
}

tr th {
    text-align: left;
    padding: 25px 0px 25px 25px;
    gap: 10px;
    font-size: 30px;
}

tr.table_highlight{
    background-color: lightgray;
}

td {
    text-align: left;
    padding: 25px 0px 25px 25px;
    font-size: 25px;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(21 21 30);
    color: white;
    padding: 15px;
}